{% extends 'base-back.html.twig' %}

{% block title %}OffreStages index{% endblock %}

{% block body %}
    <h1>OffreStages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Niveau</th>
                <th>NombrePlaces</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_stage in offre_stages %}
            <tr>
                <td>{{ offre_stage.niveau }}</td>
                <td>{{ offre_stage.nombrePlaces }}</td>
                <td>
                    <a href="{{ path('app_offre_stages_show', {'projet': offre_stage.projet}) }}">show</a>
                    <a href="{{ path('app_offre_stages_edit', {'projet': offre_stage.projet}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_stages_new') }}">Create new</a>
{% endblock %}
