{% extends 'base-back.html.twig' %}


{% block title %}AchievedProjects index{% endblock %}

{% block body %}
    <h1>AchievedProjects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Projets</th>
                <th>Membres</th>
                <th>Duree(Semaines)</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achieved_project in achieved_projects %}
            <tr>
                <td>{{ achieved_project.projects }}</td>
                <td>{{ achieved_project.users }}</td>
                <td>{{ achieved_project.duree }}</td>
                <td>
                    <a href="{{ path('app_achieved_projects_show', {'id': achieved_project.id}) }}">show</a>
                    <a href="{{ path('app_achieved_projects_edit', {'id': achieved_project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_achieved_projects_new') }}">Create new</a>
{% endblock %}
