{% extends 'base-back.html.twig' %}

{% block title %}Membres index{% endblock %}

{% block body %}
    <h1>Membres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>DateDeb</th>
                <th>DateFin</th>
                <th>NiveauEtude</th>
                <th>IdChef</th>
                <th>Fonction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.dateDeb ? membre.dateDeb|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ membre.dateFin ? membre.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ membre.niveauEtude }}</td>
                <td>{{ membre.chef }}</td>
                <td>{{ membre.fonction }}</td>
                <td>
                    <a href="{{ path('app_membres_show', {'id': membre.id}) }}">show</a>
                    <a href="{{ path('app_membres_edit', {'id': membre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_membres_new') }}">Create new</a>
{% endblock %}
