{% extends 'base-back.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
    <h1>Membres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ membre.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ membre.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre.email }}</td>
            </tr>
            <tr>
                <th>DateDeb</th>
                <td>{{ membre.dateDeb ? membre.dateDeb|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ membre.dateFin ? membre.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NiveauEtude</th>
                <td>{{ membre.niveauEtude }}</td>
            </tr>
            <tr>
                <th>IdChef</th>
                <td>{{ membre.chef }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ membre.fonction }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_membres_index') }}">back to list</a>

    <a href="{{ path('app_membres_edit', {'id': membre.id}) }}">edit</a>

    {{ include('membres/_delete_form.html.twig') }}
{% endblock %}
