{% extends 'base-front.html.twig' %}
{% block title %} HOME {% endblock %}
    
{% block body %}
 
  <!-- END nav -->
<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="w-100" src="{{asset('front-office/img/carousel-1.jpg')}}" alt="Image">
			<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
				<div class="p-3" style="max-width: 900px;">
					<h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5>
					<h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative & Innovative Digital Solution</h1>
					<a href="quote.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Free Quote</a>
					<a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<img class="w-100" src="{{asset('front-office/img/carousel-2.jpg')}}" alt="Image">
			<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
				<div class="p-3" style="max-width: 900px;">
					<h5 class="text-white text-uppercase mb-3 animated slideInDown">Creative & Innovative</h5>
					<h1 class="display-1 text-white mb-md-4 animated zoomIn">Creative & Innovative Digital Solution</h1>
					<a href="quote.html" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Contact</a>
					<a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div></div><!-- Navbar & Carousel End --><!-- Full Screen Search Start --><div class="modal fade" id="searchModal" tabindex="-1">
<div class="modal-dialog modal-fullscreen">
	<div class="modal-content" style="background: rgba(9, 30, 62, .7);">
		<div class="modal-header border-0">
			<button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body d-flex align-items-center justify-content-center">
			<div class="input-group" style="max-width: 600px;">
				<input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
				<button class="btn btn-primary px-4">
					<i class="bi bi-search"></i>
				</button>
			</div>
		</div>
	</div>
</div></div><!-- Full Screen Search End --><!-- Facts Start --><div class="container-fluid facts py-5 pt-lg-0">
<div class="container py-5 pt-lg-0">
	<div class="row gx-0">
		<div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
			<div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
				<div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
					<i class="fa fa-users text-primary"></i>
				</div>
				<div class="ps-4">
					<h5 class="text-white mb-0">Team Members</h5>
					<h1 class="text-white mb-0" data-toggle="counter-up">18</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
			<div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
				<div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
					<i class="fa fa-check text-white"></i>
				</div>
				<div class="ps-4">
					<h5 class="text-primary mb-0">Projects Done</h5>
					<h1 class="mb-0" data-toggle="counter-up">22</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
			<div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
				<div class="bg-white d-flex align-items-center justify-content-center rounded mb-2" style="width: 60px; height: 60px;">
					<i class="fa fa-award text-primary"></i>
				</div>
				<div class="ps-4">
					<h5 class="text-white mb-0">Intenships Offers</h5>
					<h1 class="text-white mb-0" data-toggle="counter-up">14</h1>
				</div>
			</div>
		</div>
	</div>
</div></div><!-- Facts Start -->
<!-- About Start -->
{{ include('inc/about.html.twig')}}
<!-- About End -->
<!-- Features Start --><div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">


<div class="container py-5">
	<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
		<h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
		<h1 class="mb-0">We Are Here to Create Innovative, Reliable and Intelligent Information Systems </h1>
	</div>
	<div class="row g-5">
		<div class="col-lg-4">
			<div class="row g-5">
				<div class="col-12 wow zoomIn" data-wow-delay="0.2s">
					<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-cubes text-white"></i>
					</div>
					<h4>Strategy</h4>
            <p class="mb-0">This is the challenge of digital transformation insofar as it is intimately linked to the notion of experience</p>

				</div>
				<div class="col-12 wow zoomIn" data-wow-delay="0.6s">
					<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-award text-white"></i>
					</div>
					<h4>Human Resources</h4>
<p class="mb-0">There is no customer experience without a consistent employee experience. It must inspire and give meaning, make the employee live what we want the customer to live,</p>

				</div>
			</div>
		</div>
		<div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
			<div class="position-relative h-100">
				<img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{{asset('front-office/img/feature.jpg')}}" style="object-fit: cover;">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row g-5">
				<div class="col-12 wow zoomIn" data-wow-delay="0.4s">
					<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-users-cog text-white"></i>
					</div>
					<h4>Professional Staff</h4>
					<p class="mb-0">Among our team members : Doctors, intenship students and more others persons with diverse backgrounds</p>
				</div>
				<div class="col-12 wow zoomIn" data-wow-delay="0.8s">
					<div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
						<i class="fa fa-phone-alt text-white"></i>
					</div>
					<h4>24/7 Support</h4>
					<p class="mb-0">We are available everyday to recieve your qoutes or any service reservations </p>
				</div>
			</div>
		</div>
	</div>
</div></div><!-- Features Start -->
<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container py-5">
	<div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
		<h5 class="fw-bold text-primary text-uppercase">Research Themes</h5>
		<h1 class="mb-0">Different reseach themes on which we are working</h1>
	</div>
	<div class="row g-5">
	    {% for theme in themes %}
		<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
			<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
				<div class="service-icon">
					<i class="fa fa-shield-alt text-white"></i>
				</div>
				<h4 class="mb-3">{{ theme.nom }}</h4>
				<p class="m-0">{{ theme.libelle }}</p>
				<a class="btn btn-lg btn-primary rounded" href="">
					<i class="bi bi-arrow-right"></i>
				</a>
			</div>
		</div>
		{% else %}
          <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
			<div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
				<div class="service-icon">
					<i class="fa fa-chart-pie text-white"></i>
				</div>
				<h4 class="mb-3">Data Analytics</h4>
				<p class="m-0">Amet justo dolor lorem kasd amet magna sea stet eos vero lorem ipsum dolore sed</p>
				<a class="btn btn-lg btn-primary rounded" href="">
					<i class="bi bi-arrow-right"></i>
				</a>
			</div>
			</div>
        {% endfor %}
		
		<div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
			<div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
				<h3 class="text-white mb-3">Call Us For Quote</h3>
				<p class="text-white mb-3">Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est magna stet eirmod</p>
				<h2 class="text-white mb-0">+012 345 6789</h2>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Service End -->
</div></div><!-- Pricing Plan End --><!-- Quote Start --><div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
<div class="container py-5">
	<div class="row g-5">
		<div class="col-lg-7">
			<div class="section-title position-relative pb-3 mb-5">
				<h5 class="fw-bold text-primary text-uppercase">Request A Quote</h5>
				<h1 class="mb-0">Need A Free Quote? Please Feel Free to Contact Us</h1>
			</div>
			<div class="row gx-3">
				<div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
					<h5 class="mb-4">
						<i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
				</div>
				<div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
					<h5 class="mb-4">
						<i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone support</h5>
				</div>
			</div>
			<p class="mb-4">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
			<div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
				<div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
					<i class="fa fa-phone-alt text-white"></i>
				</div>
				<div class="ps-4">
					<h5 class="mb-2">Call to ask any question</h5>
					<h4 class="text-primary mb-0">+012 345 6789</h4>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
				<form>
					<div class="row g-3">
						<div class="col-xl-12">
							<input type="text" class="form-control bg-light border-0" placeholder="Your Name" style="height: 55px;">
						</div>
						<div class="col-12">
							<input type="email" class="form-control bg-light border-0" placeholder="Your Email" style="height: 55px;">
						</div>
						<div class="col-12">
							<select class="form-select bg-light border-0" style="height: 55px;">
								<option selected>Select A Service</option>
								<option value="1">Service 1</option>
								<option value="2">Service 2</option>
								<option value="3">Service 3</option>
							</select>
						</div>
						<div class="col-12">
							<textarea class="form-control bg-light border-0" rows="3" placeholder="Message"></textarea>
						</div>
						<div class="col-12">
							<button class="btn btn-dark w-100 py-3" type="submit">Request A Quote</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div></div><!-- Quote End -->

<!-- Testimonial Start -->
{{ include('inc/testimonial.html.twig')}}
<!-- Testimonial End -->
<!-- Back to Top --><a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top">
<i class="bi bi-arrow-up"></i></a>
{% endblock %}