<!-- Sidebar  -->
<nav id="sidebar">
	<div class="sidebar_blog_1">
		<div class="sidebar-header">
			<div class="logo_section">
				<a href="{{ path('back') }}"><img class="logo_icon img-responsive" src="{{asset('back-office/images/logo/logo.png')}}" alt="#"/></a>
			</div>
		</div>
		<div class="sidebar_user_info">
			<div class="icon_setting"></div>
			<div class="user_profle_side">
				<div class="user_img"><img class="img-responsive" src="{{asset('back-office/images/layout_img/user_img.jpg')}}" alt="#"/></div>
				<div class="user_info">
					<h6>Christian NEBOT</h6>
					<p>
						<span class="online_animation"></span>
						Online</p>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar_blog_2">
		<h4>General</h4>
		<ul class="list-unstyled components">
			<li class="active">
				<a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-dashboard yellow_color"></i>
					<span>Dashboard</span>
				</a>
				<ul class="collapse list-unstyled" id="dashboard">
					<li>
						<a href="{{ path('back') }}">>
							<span>Default Dashboard</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-diamond purple_color"></i>
					<span>Tables</span>
				</a>
				<ul class="collapse list-unstyled" id="element">
					<li>
						<a href="{{ path('app_users_index') }}">>
							<span>Users</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_projects_index') }}">>
							<span>Projects</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_achieved_projects_index') }}">>
							<span>Achieved Projects</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_themes_index') }}">>
							<span>Research Themes</span>
						</a>
					</li>
					<li>
						<a href="{{ path('app_interactions_index') }}">>
							<span>Interactions</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-object-group blue2_color"></i>
					<span>Apps</span>
				</a>
				<ul class="collapse list-unstyled" id="apps">
					<li>
						<a href="{{ path('email') }}">>
							<span>Email</span>
						</a>
					</li>
					<li>
						<a href="{{ path('calendar') }}">>
							<span>Calendar</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{ path('contactback') }}">
					<i class="fa fa-paper-plane red_color"></i>
					<span>Contact</span>
				</a>
			</li>
			<li class="active">
				<a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="fa fa-clone yellow_color"></i>
					<span>Additional Pages</span>
				</a>
				<ul class="collapse list-unstyled" id="additional_page">
					<li>
						<a href="{{ path('profile') }}">>
							<span>Profile</span>
						</a>
					</li>
					<li>
						<a href="{{ path('projet') }}">>
							<span>Projects</span>
						</a>
					</li>
					
					
				</ul>
			</li>
			<li>
				<a href="{{ path('map') }}">
					<i class="fa fa-map purple_color2"></i>
					<span>Map</span>
				</a>
			</li>
			<li>
				<a href="{{ path('charts') }}">
					<i class="fa fa-bar-chart-o green_color"></i>
					<span>Charts</span>
				</a>
			</li>
			<li>
				<a href="{{ path('settings') }}">
					<i class="fa fa-cog yellow_color"></i>
					<span>Settings</span>
				</a>
			</li>
		</ul>
	</div>
</nav>
<!-- end sidebar -->
<!-- right content -->
	<div
	id="content"> <!-- topbar -->
	<div class="topbar">
		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="full">
				<button type="button" id="sidebarCollapse" class="sidebar_toggle">
					<i class="fa fa-bars"></i>
				</button>
				<div class="logo_section">
					<a href="{{ path('back') }}"><img class="img-responsive" src="{{asset('back-office/images/logo/logo.png')}}" alt="#"/></a>
				</div>
				<div class="right_topbar">
					<div class="icon_info">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-bell-o"></i>
									<span class="badge">2</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-question-circle"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-envelope-o"></i>
									<span class="badge">3</span>
								</a>
							</li>
						</ul>
						<ul class="user_profile_dd">
							<li>
								<a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{asset('back-office/images/layout_img/user_img.jpg')}}" alt="#"/><span class="name_user">Christian NEBOT</span>
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('profile') }}">My Profile</a>
									<a class="dropdown-item" href="{{ path('settings') }}">Settings</a>
									<a class="dropdown-item" href="{{ path('help') }}">Help</a>
									<a class="dropdown-item" href="#">
										<span>Log Out</span>
										<i class="fa fa-sign-out"></i>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
	<!-- end topbar -->
