<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
	<div class="spinner"></div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
	<div class="row gx-0">
		<div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
			<div class="d-inline-flex align-items-center" style="height: 45px;">
				<small class="me-3 text-light">
<i class="fa fa-map-marker-alt me-2"></i>1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala.</small>

				<small class="me-3 text-light">
					<i class="fa fa-phone-alt me-2"></i>00216 70 250 000</small>
				<small class="text-light">
					<i class="fa fa-envelope-open me-2"></i>info@example.com</small>
			</div>
		</div>
		<div class="col-lg-4 text-center text-lg-end">
			<div class="d-inline-flex align-items-center" style="height: 45px;">
				<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="">
					<i class="fab fa-twitter fw-normal"></i>
				</a>
				<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="">
					<i class="fab fa-facebook-f fw-normal"></i>
				</a>
				<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="">
					<i class="fab fa-linkedin-in fw-normal"></i>
				</a>
				<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="">
					<i class="fab fa-instagram fw-normal"></i>
				</a>
				<a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href="">
					<i class="fab fa-youtube fw-normal"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- Topbar End -->

<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
	<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
	<a href="{{ path('home') }}" class="navbar-brand p-0">
		<img class="w-50" src="{{asset('front-office/img/logo.png')}}" alt="Image">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
		<span class="fa fa-bars"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav ms-auto py-0">
            <a href="{{ path('home') }}" class="nav-link">Home</a>
			<a href="{{ path('about') }}" class="nav-link">About</a>
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Projects</a>
				<div class="dropdown-menu m-0">
					<a href="{{ path('themes') }}" class="dropdown-item">Research Themes</a>
					<a href="{{ path('project_ach') }}" class="dropdown-item">Achieved Projects</a>
					<a href="{{ path('project') }}" class="dropdown-item">Current Projects</a>
					<a href="{{ path('offres') }}" class="dropdown-item">Intenships offers</a>
				</div>
			</div>
			<a href="{{ path('team') }}" class="nav-item nav-link">Team</a>
			<a href="{{ path('contact') }}" class="nav-item nav-link">Contact</a>
		</div>
		<butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal">
			<i class="fa fa-search"></i>
		</butaton>
		<a href="{{ path('back') }}" class="btn btn-primary py-2 px-4 ms-3">Admins</a>
	</div>
	
</nav>

</div>
<!-- Navbar & Carousel End -->
